:root {
    color-scheme: dark;
}

::-webkit-scrollbar {
    display: block;
    width: 10px;
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    background-clip: padding-box;
    border-radius: 9999px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.hl {
    color: limegreen;
}

a.hl:hover {
    color: lightgreen;
}

.alsel {
    user-select: text;
}

body {
    background-color: #222;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header,
.controls {
    background-color: #1a1a1a;
    box-sizing: border-box;
    user-select: none;
}

header {
    border-bottom: 1px solid #666;
}

.controls {
    box-shadow: 0px -64px 24px 8px rgba(34, 34, 34, 1);
    border-top: 1px solid #666;
}

.lyrics-wrapper {
    color: #7a7a7a;
    font-size: 20px;
    user-select: none;
    word-wrap: normal;
    word-break: keep-all;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}

h1 {
    margin: 10px 0;
    width: fit-content;
    cursor: pointer;
    font-weight: bolder;
    transition-duration: 300ms;
    text-shadow: 3px 3px 1px #2a2a2a;
}

h1:hover {
    text-shadow: 3px 3px 1px #444;
}

.active {
    color: #eee;
    text-shadow: 3px 3px 1px #3a3a3a;
}

.active:hover {
    text-shadow: 3px 3px 1px #999;
}

.flx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.song {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #7a7a7a;
    font-family: monospace;
}

.song h5 {
    line-height: 1.25em;
    margin: 0;
}

p {
    line-height: 1.1em;
    margin: 0;
    text-align: inherit;
}

b {
    color: #bbb;
}

h6 {
    margin: 0;
}

.mode-off {
    display: none;
}

#nil {
    text-indent: -100vw;
}

#player {
    width: 100%;
    text-align: center;
}

#player a {
    display: none;
}

audio {
    width: 100%;
}

.ptr {
    cursor: pointer;
}

.player-blk {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ccc;
    gap: 10px;
}

.modesw {
    text-align: center;
}

.modesw h4,
.modesw a {
    transition-duration: 300ms;
}

.modesw h4:hover,
a:hover {
    color: #eee;
    text-shadow: 0px 0px 5px #aaa;
}

a {
    color: #666;
}

h2 small {
    font-size: 0.5em;
    vertical-align: middle;
    height: 100%;
}

h2 small::before {
    content: ' \2022  ';
}

#err,
.err {
    color: red;
}

.lock {
    display: inline-block;
}

.lock * {
    vertical-align: middle;
}

.overlay {
    z-index: 999;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1[id="0"] {
    font-style: italic;
}

.bg-a {
    background-color: #1a1a1ab0;
}

.container.bg-b {
    background-color: #222;
    border-radius: 25px;
}

.tbar {
    line-height: 0;
    align-self: center;
}

.cbtn {
    background-color: #bb0000;
    transition-duration: 300ms;
    border-radius: 0 25px 25px 0;
}

.cbtn:hover {
    background-color: #ee0000;
}